@import '../../../variables.scss';

:host {
  position: relative;
  display: block;
  margin-bottom: 1em;
}
ul {
  padding-left: 0;
  margin: 0;
  li {
    display: inline-block;
    padding: 1em 0.5em 0 0;
    font-size: 1.2rem;
  }
  a {
    display: inline-block;
    padding-bottom: .2em;
    box-sizing: content-box;
  }
  a.active {
    border-bottom: 1px solid $color;
  }
}
.logged {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.2rem;
  padding-top: 1em;
}
